@import "./root.css";

.header {
    min-height: 100vh;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav {
    position: sticky;
    top: 0;
    padding: 30px 0;
    z-index: 10;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.nav div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-nav {
    height: 32px;
}

.btn-menu {
    position: relative;
    width: 40px;
    height: 40px;
    display: none;
    z-index: 11;
}

.btn-lines,
.btn-lines::before,
.btn-lines::after {
    position: absolute;
    width: 40px;
    height: 2px;
    background: #808080;
    transition: 500ms;
    transform: rotate(0deg);
}

.btn-lines{
    top: 50%;
    transition: 250ms;
}

.btn-lines::after {
    content: "";
    top: 10px;
}

.btn-lines::before {
    content: "";
    top: -10px;
}

.btn-menu.active .btn-lines{
    background: transparent;
}

.btn-menu.active .btn-lines::after {
    top: 50%;
    transform: rotate(405deg);
}

.btn-menu.active .btn-lines::before {
    top: 50%;
    transform: rotate(-405deg);
}

.nav__menu {
    display: flex;
    column-gap: 20px;
}

.nav__menu.active {
    transform: translateY(0);
}

.nav__menu li a {
    font-size: 15px;
    line-height: 20px;
    font-family: "Roboto-Regular";
    color: #808080;
    transition: 250ms;
}

.nav__menu li a:hover,
.footer__menu li a:hover {
    color: #333333;
}

.header-item {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-item__title {
    font-size: 175px;
    max-width: 470px;
    font-family: "Pala";
}

.header-item__text {
    font-family: "Roboto-Regular";
    font-size: 12px;
    margin-bottom: 20px;
}

.header-item__img {
    margin: 0 auto;
    display: block;
}

.section {
    max-width: 100%;
    display: flex;
    position: relative;
}

.section-item {
    position: absolute;
    height: 100%;
    width: 50%;
    background: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-item__info {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    width: 360px;
}

.section-item__info h2 {
    font-family: "Pala";
    color: #808080;
    font-size: 69px;
    line-height: 60px;
}

.section-item__info h3 {
    font-family: "Roboto-Regular";
    font-size: 44px;
    line-height: 52px;
    color: #ffffff;
    max-width: 315px;
}

.section-item__info p {
    font-family: "Roboto-Regular";
    font-size: 17px;
    line-height: 32px;
    color: #c3c3c3;
    max-width: 315px;
}

.section-item__info a {
    font-family: "Roboto-Regular";
    font-size: 15px;
    line-height: 20px;
    color: #ffffff;
    transition: 250ms;
}

.section-item__info a:hover {
    color: #7a7a7a;
}

.section-img {
    width: 100%;
    display: block;
}

footer {
    background: #fafafa;
    padding: 100px 0;
}

footer .container {
    row-gap: 50px;
    display: flex;
    flex-direction: column;
}

.logo-footer {
    height: 25px;
}

.logo-footer img {
    height: 25px;
}

.footer__menu {
    display: flex;
    column-gap: 20px;
}

.footer__menu li a {
    font-family: "Roboto-Regular";
    font-size: 15px;
    line-height: 20px;
    color: #808080;
    transition: 250ms;
}

.footer-info {
    display: flex;
    flex-direction: column;
}

.footer-info span {
    font-size: 13px;
    line-height: 24px;
    font-family: "Roboto-Regular";
    color: #b8b8b8;
}

@media (max-width: 984px) {
    .section-item {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .section-item__info {
        width: 315px;
        row-gap: 20px;
    }

    .section-item__info h2 {
        font-size: 50px;
        line-height: 41px;
    }

    .section-item__info h3 {
        font-size: 35px;
        line-height: 43px;
    }

    .section-item__info p {
        font-size: 15px;
        line-height: 30px;
    }

    .section-item__info a {
        font-size: 13px;
        line-height: 18px;
    }

    .footer__menu {
        flex-direction: column;
        column-gap: 0;
        row-gap: 20px;
    }
}

@media (max-width: 576px) {
    .nav__menu {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        background: #ffffff;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        column-gap: 0;
        row-gap: 30px;
        flex-direction: column;
        transition: 500ms;
        transform: translateY(-100%);
    }

    .btn-menu {
        display: block;
    }

    .header-item__title {
        font-size: 120px;
    }

    .header-item__text {
        font-size: 10px;
    }

    .section-item#section-item-1,
    .section-item#section-item-2,
    .section-item#section-item-3 {
        height: 375px;
        position: static;
    }

    .section-item#section-item-1 {
        background: url(../img/section-1.png) no-repeat center / cover;
    }

    .section-item#section-item-2 {
        background: url(../img/section-2.png) no-repeat center / cover;
    }

    .section-item#section-item-3 {
        background: url(../img/section-3.png) no-repeat center / cover;
    }

    .section-item__info {
        height: 100%;
        width: 100%;
        background: rgba(0, 0, 0, 0.75);
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .section-img {
        display: none;
    }

    .section-item__info h3 {
        text-align: center;
    }

    .section-item__info p {
        text-align: center;
    }
}

@media (max-width: 350px) {
    .header-item__title {
        font-size: 100px;
    }
}
